 /*body*/
html,
body{
	
}





container{
  position:relative;
  min-height:100%;
  padding-bottom:60px;
}

p{
	text-align: justify;
}

header {
  background: #33B5E5;
  width:800px;
  margin: 0 auto;
  box-shadow:7px 7px 5px #888888;
}
h1{
  font-family: 'Autour One', cursive;
  font-size: 30px;
  text-shadow: 2px 2px 2px #F0FFFF;
  text-align: center;
  padding: 10px;
  margin: 5px 5px 20px 5px;
}

#stylechange{
 border: none;
 background:transparent;
 position: absolute;
 margin: 0px;
 
}
 para{
     display:block;
     background:#FFFFFF;
     margin:10px;
     padding:10px;
     border:2px solid;
     border-radius:25px;
 }
nav{
  background: #99CCFF;
  margin:10px auto;
  width:800px;
  border:2px solid;
  border-radius:25px;
  box-shadow:7px 7px 5px #888888;
  text-align:center;
  padding: 5px;
}
navbutton{ 
  border-radius:25px;
  padding: 2px 30px 3px 30px;
  font-family: 'Concert One', cursive;
}
navbutton:hover{
background: white;
}

a{
	color: black;
	text-decoration:none;
}
 #link{
     width: 200px;
     height: 25px;
     background: #FFFFFF;
     padding: 10px;
     text-align: center;
     border-radius: 5px;
     font-weight: bold;
 }
#content {
}
#textbox{
  font-family: Arial;
  font-size: 16px;
  text-align: justfiy;
  padding: 10px;
  margin: 10px auto;
  width:790px;
  background: #99CCFF;
  border:2px solid;
  border-radius:15px;
  box-shadow:5px 5px 3px #888888;
  overflow:hidden;

}

img{
	width: 25%;
	height: 25%;
	margin: 0px 0px 0px 10px;
	position: relative;
	float: right;
}

footer {
  font-family: 'Autour One', cursive;
  font-size: 20px;
  text-shadow: 2px 2px 2px #F0FFFF;
  width:50%;
  margin: 0 auto;
  position:absolute;
  background: #33B5E5;
  text-align:center;
  bottom: 0%;
  left: 25%;
  right:25%;
}

/*body*/


/*mouse hover pop up text and image*/
span.dropt {border-bottom: thin dotted; background: #66ccff;}
span.dropt:hover {text-decoration: none; background:#F0F0F0 #; z-index: 6; }
span.dropt span {position: absolute; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
   z-index: 6;}
span.dropt:hover span {left: 2%; background: #ffffff;} 
span.dropt:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;} 
/*mouse hover pop up text and image*/


